name: "Sphinx: render and deploy docs"

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install numpy
        pip install pandas
        pip install geopy
        pip install sphinx
        pip install nbsphinx
        pip install numpydoc
        pip install sphinx-rtd-theme

    - uses: actions/checkout@master
    - uses: nikeee/setup-pandoc@v1
    - run: echo "# Test" | pandoc -t html

    - name: Build sphinx
      run: |
        sphinx-build -b html docs/source docs/build

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: html-docs
        path: docs/build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/build